# Let me explain this .gitignore
# It's a very helpful approach to have everything about a subject inside
# in just one folder. This .gitignore basically tells git to ignore
# EVERYTHING inside the folder except for the p (practice) directory
# and "notas" directory of
# each subject. So you can have whatever you want inside the subject
# folder and as long as is not inside p or "notas "folder
# is goona be ignored and won't be eligible
# for versioninig. With this you can have for
# example inside FAA a folder for the theory pdf's, another folder for
# test code, whatever. And those folders won't be tracked, I really
# found this usefull, so it's not an error to not
# ignore this .gitignore.

# So because of this configuration, anything added outside
# of p or "notas" folder in each subject will be ignored for versioning.
# That includes changing the name of the folder from p -> whatever.
# So please don't change the name of p folder and "notas" folder.

# Same goes for the names of each subject folder. If the names are
# changed then the filter won't work and everything will be ignored
# for versioning.

#---------------------please_don't_modify------------------------------
/*
!.gitignore

!ABIA/
!ALF/
!CCPD/
!FAA/
!RCR/

ABIA/*
ALF/*
CCPD/*
FAA/*
RCR/*

!ABIA/p
ABIA/p/TGR_1/obj/
ABIA/p/TGR_1/bin/
ABIA/p/TGR_1/TGR_1.sln
ABIA/p/TGR_1/TGR1_XoelSanchezDacoba_SebastianDavidMorenoExposito.zip
!ABIA/notas

!ALF/p
!ALF/notas

!CCPD/p
!CCPD/notas
# Se elimino del remoto la carpeta FAA de practicas y se dejo de
# trackear, esto para crear un repositorio distinto con las practicas
# de esta asignatura.

!RCR/p
!RCR/notas

#---------------------please_don't_modify-------------------------------
